.BarChart {
  display:flex;
  justify-content: space-around;
  flex-wrap: nowrap;
  align-items: flex-end;
  height: 75vh;
  width: 95vw;
  color: white;
  background: var(--bg-color-barchart);
  margin: 0px 10px 0px 10px;
  padding: 0px 30px 0px 30px;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 101%;
  left: 50%;
  margin-left: -60px;
}

.tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.tooltiptext {
  visibility: visible;
}
