/* Page element styling for smartphones and tablets */
@media only screen and (min-width: 300px) {
  .DataModifier {
    color: white;
    font-size: 18pt;
    text-align: left;
    padding-left: 30px;
    text-align: center;
  }
}

/* Page element styling for larger tablets and computers */
@media only screen and (min-width: 769px) {
  .DataModifier {
    color: white;
    font-size: 18pt;
    text-align: left;
    padding-left: 30px;
  }
}
