/* Global CSS variables declared */
:root {
  --bg-color-page: #222831;
  --bg-color-barchart: #30475E;
  --color-bars: #F2A365;
}

/* Selection pseudo-element styling for when a page element is highlighted */
::selection {
  color: black;
  background: white;
}

/* Styling properties applied to entire page */
html, body, #root, .App {
  height: 100%;
  background: var(--bg-color-page);
  font-family: 'Raleway';
}

/* Page element styling for smartphones and tablets */
@media only screen and (min-width: 300px) {
  .title {
    color: white;
    font-size: 36pt;
    text-align: center;
  }

  .subtitle {
    color: white;
    font-size: 20pt;
    font-style: italic;
    text-align: center;
  }

  .DataModifier {
    color: white;
    font-size: 18pt;
    text-align: left;
    padding-left: 30px;
    text-align: center;
  }
}

/* Page element styling for larger tablets and computers */
@media only screen and (min-width: 769px) {
  .title {
    color: white;
    font-size: 36pt;
    text-align: left;
    padding-left: 30px;
  }

  .subtitle {
    color: white;
    font-size: 20pt;
    font-style: italic;
    text-align: left;
    padding-left: 30px;
  }

  .DataModifier {
    color: white;
    font-size: 18pt;
    text-align: left;
    padding-left: 30px;
  }
}

/* Chart component styling for smartphones and tablets */
@media only screen and (min-width: 300px) {
  .BarChart-bar {
    color: black;
    text-align: center;
    font-size: 2vw;
    font-weight: bold;
    background: var(--color-bars);
    flex-grow: 1;
    margin: 0% 1% 0% 1%;
    transition: 0.2s;
  }
}

/* Chart component styling for larger tablets and computers */
@media only screen and (min-width: 769px) {
  .BarChart-bar {
    color: black;
    text-align: center;
    font-size: 2vw;
    font-weight: bold;
    background: var(--color-bars);
    flex-grow: 1;
    margin: 0% 1% 0% 1%;
    transition: 0.2s;
    max-width: 10%;
  }
}

/* CSS transition styling */
.BarChart-bar:hover {
  background: #d6c7bb;
  transform: scale(1.05, 1);
}

.PageNav {
    display: flex;
    justify-content: center;
    color: white;
}

.PageNav-control {
    color: white;
    padding: 0;
    border: none;
    background: none;
}

.PageNav-control:hover {
  color: #F2A365;
  transform: scale(1.02, 1);
}


.PageNav-position {
   margin: 0px 20px 0px 20px;
}

.DateInputContainer {
  flex: row;
  align-items: center;
  display: inline-block;
  color: black;
  font-size:18px;
  background: var(--color-bars);
  border-radius: 4px;
  width: 520px;
  height: 35px;
  padding-top: 6px;
  margin: 5px 0px 5px 0px;
}

.DateInput {
  margin-left: 5px;
  margin-right: 5px;
  display: inline;
}

.DateInfo {
  display: flex;
  color: white;
  justify-content: center;
}
